<div layout="column" ng-cloak>

  <div layout>
    <div flex></div>
    <div flex style="text-align: center">
      <i class="icon ion-android-person" style="font-size: 100px; color: #ff4081"></i>
    </div>
    <div flex></div>
  </div>


  <div layout="row">
    <div flex></div>
    <div flex="80">
      <md-content>
        <md-input-container class="md-block">
          <label>Username</label>
          <input ng-model="form.name" type="text">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Password</label>
          <input ng-model="form.password" type="password">
        </md-input-container>
      </md-content>

      <md-button class="md-primary md-raised" ng-click="login(form)"
                 style="width: 100%; margin-left: 0;">
        Login
      </md-button>

    </div>
    <div flex></div>
  </div>

</div>